<div class="recipes-index">
  <header class='header'>
    <div class="index-header"></div>
    <h1>Recipes Test</h1>
    <%= image_tag 'cooking-bg.jpg'%>
  </header>
  <main>
    <% @recipes.each do |recipe| %>
      <div class="recipe-preview">
        <div class="recipe-image"><img src="<%= recipe.photo.url %>"/></div>
        <div class="title-link">
          <div class="title-backgroud"></div>
          <%= link_to recipe.title, recipe_path(recipe.id) %>
        </div>
      </div>
    <% end %>
  </main>
</div>