<div class="recipes-show">
  <header>
    <div class="index-header"></div>
    <h1><%= @recipe.title %></h1>
    <img src="<%= @recipe.photo.url %>"/>
  </header>

  <main>
    <div class="details">
      <div class="calories">
        <span><%= @recipe.calories %> kcal</span>
      </div>
      <div class="description"><%= @recipe.description %></div>
      <div class="chef">
        <% if @recipe.chef&.name %>
          <span>Recipe by: <%= @recipe.chef.name %></span>
        <% end %>
      </div>
      <div class="tags">
        <% @recipe.tags.map do |tag| %>
          <div class="tag">
            <span>#<%= tag.name %></span>
          </div>
        <% end %>
      </div>
    </div>
  </main>
</div>