.recipes-index {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: 40vh 60vh;

  header {
    background: #E0D8CB;
    height: 100%;
    grid-column: 1/6;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    align-items: center;
    overflow: hidden;

    .index-header {
      background: black;
      opacity: 0.3;
      height: 100%;
      z-index: 95;
      grid-column: 2/2;
      grid-row: 1/1;
      display: flex;
      align-items: center;
    }

    h1 {
      grid-column: 2/2;
      grid-row: 1/1;
      color: white;
      font-size: 4em;
      z-index: 100;
    }

    img {
      grid-column: 2/6;
      grid-row: 1/1;
      height: auto;
      width: 100%;
      min-height: 100%;
      overflow: hidden;
      z-index: 90;
    }
  }

  main {
    grid-column: 1/6;
    grid-row: 2/3;
    max-width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    column-gap: 10px;
    align-content: center;

    .recipe-preview {
      height: auto;

      img {
        width: 100%;
        height: auto;

      }

      .title-link {
        height: 40px;

        .title-backgroud {
          background: black;
          opacity: 0.3;
          width: 100%;
        }

        a, a:active, a:hover, a:visited {
          text-decoration: none;
          font-weight: bold;
        }
      }
    }
  }
}

.recipes-show {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: 40vh 60vh;

  header {
    background: #E0D8CB;
    height: 100%;
    grid-column: 1/6;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    align-items: center;
    overflow: hidden;

    .index-header {
      background: black;
      opacity: 0.3;
      height: 100%;
      z-index: 95;
      grid-column: 2/6;
      grid-row: 1/1;
      display: flex;
      align-items: center;
    }

    h1 {
      grid-column: 2/4;
      grid-row: 1/1;
      color: white;
      font-size: 2.3em;
      z-index: 100;
    }

    img {
      grid-column: 2/6;
      grid-row: 1/1;
      height: auto;
      width: 100%;
      min-height: 100%;
      overflow: hidden;
      z-index: 90;
    }
  }

  main {
    grid-column: 2/5;
    grid-row: 2/3;
    max-width: 100%;
    
    .calories {
      display: flex;
      align-items: center;
      align-content: center;
      height: 30px;
      margin: 15px 0 5px 0;
      padding: 0 5px;
      background: orange;
      border-radius: 5px;
      width: 70px;
      color: white;
      font-weight: bold;
      text-align: center;
    }

    .details {
      display: flex;
      flex-direction: column;
      align-content: center;
      
      .description {
        font-size: 2em;
      }
  
      .chef {
        margin-top: 10px;
        align-self: flex-end;
        font-size: 1.5em;
      }

      .tags {
        display: flex;
        align-items: flex-start;
  
        .tag {
          display: flex;
          align-items: center;
          align-content: center;
          height: 30px;
          margin: 0 5px;
          padding: 0 5px;
          background: lightskyblue;
          border-radius: 5px;
          color: white;
          font-weight: bold;
        }
      }
    }
  }
}